body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: initial;
    background-color: rgba(255, 227, 193, 0.767);
}

.container {
    width: 100%;
    overflow: hidden;
}

/* home page  */
h1 {
    color: #165e99;
    text-align: center;
}

p {
    color: rgba(12, 80, 82, 0.979);
    font-size: 27px;
    font-weight: bold;
    font-style: italic;
    width: 300px;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.text p {
    padding: 20px;
    text-align: center;
    width: 50%;
    font-size: x-large;
}

img {
    width: 800px;
    height: 500px;
    transform: scale(.8);
    transition: .3s;
    border-radius: 40px;
    outline: #165e99 2px solid;
    object-fit: cover;
    filter: brightness(.75);

    transition: 1s .2s;
}

img:hover {
    filter: brightness(.9);
    transform: scale(.900002) rotate(5deg);
    ;
}

.navbar ul {
    list-style: none;

}

.navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 15px;

}

.navigate {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    background-color: rgb(245, 192, 131);
    padding: 10px;
    width: 90%;
    border-radius: 10px;
}

.navbar a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 25px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover {
    color: rgb(7, 92, 121);

}

.first {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.names {
    display: flex;
    flex-direction: column;
}

.names h2 {
    text-align: center;
    color: rgb(82, 146, 146);
    font-size: 32px;

}

.names span {
    font-size: xx-large;
    color: rgb(18, 68, 68);
}

/* scheddule page  */
.timetable {
    width: 100%;
}

.timetable ul {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
}

table {
    border: solid rgb(122, 148, 165) 2px;
    width: 50%;
    height: 300px;
}

.table {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-top: 155px;
}

.table table {
    margin-top: 10px;
    height: 400px;
}

th,
td {
    padding: 15px;
}

.header {
    background-color: cadetblue;
    color: antiquewhite;
    transition: 300ms;
}

.header:hover {
    color: cadetblue;
    background-color: antiquewhite;
}

.football:hover {
    background-color: antiquewhite;
    color: rgb(10, 141, 97);
}

.walking:hover {
    background-color: antiquewhite;
    color: rgb(10, 141, 97);
}

.face:hover {
    background-color: antiquewhite;
    color: rgb(10, 141, 97);
}

/* sign up page */
.intro p {
    color: #165e99;
    text-wrap: nowrap;
    margin-left: 30%;
}

.join .dash {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    position: relative;
    left: 12%;
    background-color: rgb(240, 211, 176);
    padding: 20px;
    border-radius: 20px;
    flex-direction: row;
}

h2 {
    color: cadetblue;
    padding-left: 30px;
}

.join .dash p {
    font-size: xx-large;
}

.join .Volunteer{
    color: rgb(234, 189, 134);
    text-align: center;
}
.join ul{
    background-color: rgb(244, 223, 197);
    width: 40%;
    border-radius: 10px;
    margin-left: 10%;
    padding: 20px;
}
.list > li{
    color:rgb(53, 48, 48);
    padding: 10px;
    list-style: inside;
    text-wrap: nowrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.sign{
    background-color: rgb(249, 225, 195);
    padding: 30px;
    border-radius: 20px;

}
.sign p {
    text-wrap: nowrap;
    color: cadetblue;
}
.sign .sign-in {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.sign .sign-in input{
    width: 30%;
    border-radius: 10px;
    padding: 15px 10px;
    border: 0;
    background-color: antiquewhite;
}
.ask label{
    color: #216ead;
    font-size: x-large;
}
.tell{
    outline: none;
    width:  250px;
    height: 50px;
    border-radius: 20px;
    background-color: antiquewhite;
    border: none;
    padding: 20px;
} 
#submit{
    background-color: #256193;
    border: none;
    font-size: large;
    color: rgb(136, 225, 172);
    border-radius: 5px;
    margin-top: 4%;
    padding: 5px;
}
#submit:hover{
    background-color: darksalmon;
    color: lightblue;
}
.sign ::placeholder{
    color: #216ead;
}
.sign  input:focus{
    background-color: rgb(243, 221, 191);
    outline: none;
}
footer{
    background-color: rgb(46, 42, 42);
    margin: -1%;
    height: 160px;

}
.links{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.useful  {
    color: #216ead;
    padding: 10px;
    text-align: center;
}
.links a{
    color: whitesmoke;
    text-decoration: none;
    font-size: large;
}
.links a:hover{
    color: rgb(216, 189, 155);
}
footer .copy{
    text-wrap: nowrap;
    padding: 20px;
    margin-left: 40%;
    color: cadetblue;
}
